@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
/*Just the background stuff */
body {
  
  font-family: "Material+Icons", sans-serif;
}

.card {
  position: relative;
  height: auto+15px;
  width: 900px;
  margin: 50px auto;
  background-color: #FFF;
  -webkit-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 93px 0px rgba(0, 0, 0, 0.75);
}


img.left {
  position: absolute;
  left: 50%;
  top: 50%;
  height: auto;
  width: 100%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* Right side of the card */
.center {
  margin:auto;
  margin-top:10px;
}
.space{
 height: auto;
  width:100px;
  height:50px;
}

h1 {
  padding-top: 5px;
  font-size: 1rem;
  color: #E74337;
  margin-left: 10px;

}

h1.center {
  padding-top: 50px;
  font-size: 2rem;
  text-align: center;
  color: #E74337;
}

.author {
  margin:auto;
  background-color: #E74337;
  height: 50px;
  width: 800px;
  border-radius: 20px;
  position: absolute;
  top: 0px;
  right: 50px;
  box-sizing: border-box;
  color: white;
  text-align: center;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}


h2 {
  padding-top: 8px;
  margin: auto;
  text-align: center;
  font-size: 2rem;
    color: #FFF;
}

.separator {
  margin-top: 10px;
  border: 1px solid #C3C3C3;
}

p {
  text-align: justify;
  padding-top: 10px;
  font-size: 0.95rem;
  line-height: 150%;
  color: #4B4B4B;
}

/* DATE of release */
h5 {
 
  text-align: right;
  font-size: 0.8rem;
    color: #74FF33;
}

h6 {
  position: absolute;
  left: 30px;
  bottom: -55px;
  font-size: 2rem;
  color: #C3C3C3;
}

/* Those futur buttons */
ul {
  margin-left: 250px;
  width: auto;
}

li {
  display: inline;
  list-style: none;
  padding-right: 40px;
  color: #7B7B7B;
}

/* Floating action button */
.fab {
  position: absolute;
  right: 50px;
  bottom: -40px;
  box-sizing: border-box;
  padding-top: 18px;
  background-color: #E74337;
  width: 80px;
  height: 80px;
  color: white;
  text-align: center;
  border-radius: 50%;
  -webkit-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 50px 0px rgba(0, 0, 0, 0.75);
}
.button {
  background-color: #E74337; 
  border-radius: 6px;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  text-transform: uppercase;
  width: auto;
}

.button:hover {
  background-color: #FB7E29;
  color: #fff;
  width: 10px;

}
.box {
  width: 20%;
  margin: 0 auto;
  background: rgba(255,255,255,0.2);
  padding: 10px;
  border: 2px solid #fff;
  border-radius: 20px/50px;
  background-clip: padding-box;
  text-align: center;
}
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 90%;
  position: relative;
  transition: all 5s ease-in-out;
}


.card .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}
.popup .close:hover {
  color: #06D85F;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px){
  .box{
    width: 50%;
  }
  .popup{
    width: 90%;
  }
}

